<div class="signup">
  <form action="/auth/signup" method="POST">
    <div class="form-group">
      <label for="authEmail">EMAIL:</label>
    </div>
    <div>
      <input id="authEmail" class="form-control" type="email" name="email" placeholder="Email address">
    </div>
    <div class="form-group">
      <label for="authName">NAME:    </label>
    </div>
    <div>
      <input id="authName" class="form-control" type="text" name="name" placeholder="Name">
    </div>
    <div class="form-group">
      <label for="authPassword">PASSWORD:</label>
    </div>
    <div>
      <input id="authPassword" class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <input class="add" type="submit">
  </form>
</div>

<div class="empty"></div>
<div class="homeimages">
    <img class="image" src="https://cdn.cheapism.com/images/Zion_National_Park_Cliffs.2e16d0ba.fill-1440x605.png" alt="">
    <img class="image" src="http://blog.ebags.com/wp-content/uploads/rocky-1.jpg" alt="">
    <img class="image" src="https://npca.s3.amazonaws.com/images/5408/91d4c051-7012-4165-9ff1-07545735dc0f-banner.jpg?1445968460" alt="">
</div>
<div class="empty"></div>