<div>
  <img class="header" src="https://media.wnyc.org/i/800/0/c/85/1/AP_17335829288104.jpg" alt="">
  <img class="header" src="https://ewscripps.brightspotcdn.com/dims4/default/df4dce8/2147483647/strip/true/crop/640x360+0+32/resize/1280x720!/quality/90/?url=https%3A%2F%2Fsharing.thedenverchannel.com%2Fsharekivi%2Fphoto%2F2017%2F05%2F03%2Flake-louise-rmnp-crystal-brindle-nps_1493846307021_59099225_ver1.0_640_480.jpg" alt="">
  <img class="header" src="http://eskipaper.com/images/free-zion-national-park-wallpaper-1.jpg" alt="">
  <h2 class="titles">HOME</h2>
</div>

<div class="greeting">
  <% if (!currentUser) { %>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/login">Login</a>
  <% } else { %>
    <p>Hello, <%= currentUser.name %></p>
    <a href="/auth/logout">Logout</a> 
    <a href="/profile">Profile</a> 
<% } %>
    <div>
      <p>Welcome to the National Park Trip Planner app.  Select your next vacation destination by searching through a National Parks database. You will be able to see specific park infromation - including availability of campgrounds and various park activities - and decide which destination is right for you.  Happy planning!</p>
    </div>
</div>

<div class="empty"></div>
<div class="homeimages">
<img class="image" src="https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1483622521/mesa-arch-canyonlands-NATPARK0117.jpg?itok=p3B7XALl" alt="">
<img class="image" src="https://www.gannett-cdn.com/presto/2019/02/22/USAT/0ccf7e29-20be-42f0-81bc-d65f71125d5a-VPC_FIREFALL_DESK_THUMB_.00_00_12_06.Still002.jpg" alt="">
<img class="image" src="https://assets3.thrillist.com/v1/image/2804245/size/tmg-article_default_mobile.jpg" alt="">
</div>
<div class="empty"></div>



