<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.css' rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Bungee+Inline|Cinzel|Faster+One|Hanalei|Playfair+Display+SC|Righteous|Vollkorn+SC&display=swap" rel="stylesheet">
    <title>National Park Trip Planner</title>

  </head>
  <body id="main">
    <div class="container">
      <h1 class="titles">National Park Trip Planner</h1>
      <%- JSON.stringify(currentUser) %>
      <% include ./partials/alerts %>
      <%- body %>
    </div>

    
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.2.0/mapbox-gl.js'></script>
    <%- script %>
    
  </body>
</html>
