<h2 class="titles">Profile Page</h2>

<p>Hello, <%= currentUser.name %></p>

<div class="nav">
  <a href="/">HOME</a>
  <a class= "nav" href="/parks"> PARKS PAGE </a> 
  <a class= "nav" href="/trips"> MY TRIPS PAGE </a> 
</div>

