<h2 class="titles">PROFILE</h2>

<div class="greeting">
  <h3>Hello, <%= currentUser.name %></h3>
  <h3>Start planning your next trip</h3>
</div>

<div class="nav">
  <a href="/">HOME</a>
  <a href="/parks"> PARKS </a> 
  <a href="/trips"> MY TRIPS </a> 
</div>

<div class="empty"></div>
<div class="homeimages">
    <img class="image" src="https://www.zionnationalpark.com/wp-content/uploads/2016/11/emerald_pools_waterfall_zion_national_park-1554551.jpg" alt="">
    <img class="image" src="https://cdn.pixabay.com/photo/2016/08/12/20/14/yellowstone-national-park-1589616_960_720.jpg" alt="">
    <img class="image" src="http://static1.squarespace.com/static/55e1e46ae4b0eea3c34c14ee/56086761e4b05eccb09e2405/569953ddd82d5e518d1bb1b0/1521348083632/?format=1500w" alt="">
</div>
<div class="empty"></div>






