body {
  margin: 0 auto;
  padding: 0;
  background-color: rgb(152, 181, 152);
  background-image: url("https://img.heypik.com/background/20180830/heypik-painted-flowers-forest-background-illustration_28764996.jpg?x-oss-process=image/quality,q_70/watermark,image_c2h1aXlpbl9uZXcucG5n,g_center");
  background-position: center;
  background-size: cover;
  height: 100vh;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(254, 210, 101);
  margin: 5px;
  padding: 5px;
  background-color: rgba(59,75,32,0.8);
  border: 1px solid rgb(235, 171, 8);
  border-radius: 5px;
  width: 100px;
  height: 50px; 
}
title {
  text-shadow: 5px 5px 5px rgb(165, 196, 165);
}
h1, h2 {
  margin: 5px;
  padding: 5px;
  text-shadow: 5px 5px 5px rgb(165, 196, 165);
}
h3 {
  color: rgb(54, 67, 34);
  text-shadow: 5px 5px 5px rgb(165, 196, 165);
}
select {
  width: 200px;
  height: 34px;
}
.intro, #maintitle {
  background-color: rgba(255,255,255,0.7);
  border: 0px solid rgba(255,255,255,0.7);
  height: 65px;
  max-width: 68vw;
}
.delete {
  font-family: 'Playfair Display SC', serif;
  background-color: rgba(220, 145, 145, 0.7);
  color: rgb(77, 42, 42);
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: 1px double rgb(77, 42, 42);
  /*text-shadow: 2px 2px 2px rgb(152, 109, 109);*/
}
.description {
  background-color: rgba(85, 107, 47, 0.7);
  max-width: 70vw;
  margin: 0 auto;
  padding: 15px;
  display: block;
}
.details {
  border: 2px solid rgb(59,75,32);
  background-color: rgba(255,255,255,0.7);
  margin: 5px;
}
.moredetails {
  border: 1px solid rgb(59,75,32);
  margin: 2px;
}
.options {
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  border: 1px solid black;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.9);
}
.showtrips {
  background-color: rgba(85, 107, 47, 0.7);
  max-width: 70vw;
  margin: 0 auto;
  padding: 15px;
}
.titles {
  font-family: 'Cinzel', serif;
  background-color: rgba(255,255,255,0.7);
  margin: 0 auto;
  max-width: 70vw;
  font-weight: bolder;
  padding: 15px;
}
.goback {
  font-size: 25px;
}
.nav {
  font-family: 'Vollkorn SC', serif;
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(85, 107, 47, 0.7);
  max-width: 70vw;
  margin: 0 auto;
  text-shadow: 2px 2px 2px rgb(87, 118, 34);
}
.add {
  background-color: rgb(165, 196, 165);
  font-family: 'Vollkorn SC', serif;
  font-size: 20px;
  text-shadow: 2px 2px 2px rgb(69, 87, 37);
  border: 1px solid rgb(87,118,34);
  margin: 1px;
}
.pic {
  width: 400px;
  height: 300px;
}
.image {
  width: 418px;
  height: 220px;
  /*border: 5px solid rgba(255,255,255,0.7);
  border-radius: 10px;*/
}
.header {
  width: 418px;
  height: 200px;
}
.homeimages {
  width: 72vw;
  background-color: rgba(255,255,255,0.7);
  margin: 0 auto;
  /*padding: 15px;
  height: 300px;*/
}
.empty {
  width: 72vw;
  background-color: rgba(255,255,255,0.7);
  margin: 0 auto;
  height: 70px;
}
.home {
  width: 50px;
  height: 50px;
  border: none;
}
.signup {
  width: 72vw;
  /*
  height: 300px;
  */
  margin: 0 auto;
  background-color: rgba(85, 107, 47, 0.7);
  font-family: 'Cinzel', serif;
  text-shadow: 2px 2px 2px rgb(254, 210, 101);
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
.infosign {
  width: 395px;
  height: 395px;
  border: 5px solid rgb(255,255,255);
  border-radius: 20px;
}
.greeting {
  width: 71vw;
  margin: 0 auto;
  background-color: rgba(244, 210, 126, 0.7);
  font-family: 'Cinzel', serif;
  padding: 5px;
}
.profilepage {
  width: 72vw;
  margin: 0 auto;
}
#authEmail, #authName, #authPassword {
  width: 150px;
  height: 25px;
  margin: 3px;
  border: 3px solid rgb(254, 210, 101);
  text-align: center;
}
.minititle {
  font-weight: bold;
  font-size: 20px;
}
.description {
  font-family: 'Playfair Display SC', serif; 
  margin: 10px;
  display: inline-block;
}
a:hover {
  background-color: rgb(254, 210, 101);
  color: rgb(59,75,32);
  border: 1px solid rgb(59,75,32);
}
.options:hover {
  transform: scale(1.2);
}
.add:hover {
  transform: scale(1.2);
}
.delete:hover {
  background-color: rgb(77, 42, 42);
  color: rgba(220, 145, 145, 0.7);
}
@media only screen and (max-width: 899px) {
  .pic, .image, .header, img {
    width: 90px;
    height: 60px;
  }
  #maintitle {
    max-width: 68vw;
  }
}
@media only screen and (min-width: 900px) {
  .pic, .image, .header, img {
    width: 200px;
    height: 100px;
  }
  #maintitle {
    max-width: 69vw;
  }
}



