img {
  width: 400px;
  height: 300px;
}
.minititle {
  font-weight: bold;
  font-size: 20px;
}
.description {
  /*
  text-align: center;
  border: 1px double black;
  height: 400px;
  width: 300px;
  */
  margin: 10px;
  display: inline-block;
}