<h2>Here is the List of Naitonal Parks:</h2>

<div class="description">
  <% for (var i in parks) { %>
    <h2> <a href="/parks/<%= parks[i].id %>"> <%= parks[i].fullName %> </h2> </a>
    <h4> <span class="minititle">Park Description: </span> <%= parks[i].description %> </h4>
    <h4> <span class="minititle">State(s): </span> <%= parks[i].states %> </h4>
    <hr />
  <% }; %>
</div>
 
    
      
      
      
    
 