<p>Here is the List of Naitonal Parks:</p>

<% for (var i in parks) { %>
  <h2> <a href="/parks/"> <%= parks[i].fullName %> </h2> </a>
    <h4> <%= parks[i].description %> </h4>
    <h4> <%= parks[i].weatherInfo %> </h4>
    
    
    <hr />
  <% }; %>
 
    
      
      
      
      <hr />
 