<h1>Park Info:</h1>
<a class="nav" href="/"> MAIN PAGE </a> |
<a class= "nav" href="/parks"> PARKS PAGE </a> |
<a class= "nav" href="/profile"> PROFILE PAGE </a>

<div class="description">
<h2 class="name">  <%= park.data %> </h2> 
<h2 class="name">  <%= park.states %> </h2> 
</div>