<a class="nav" href="/"> MAIN PAGE </a>
<a class= "nav" href="/profile"> PROFILE PAGE </a>
<a href="/parks">NEW TRIP</a>
<h1>My Trips:</h1>

<hr>

<% trips.forEach(function(trip) { %>
  <div class="well">
    <h2>
      <a href="/trips/<%= trip.id %>"><%= trip.destination %></a>
    </h2>
    <form method="POST" action="/trips/<%= trip.id %>?_method=DELETE">
      <input class="delete" type="submit" value="DELETE">
    </form>
  </div>
<% }); %>
<p><a href="javascript:history.go(-1)" title="Return to previous page">&laquo;Go back</a></p>