<div class="intro">
  <div class="nav">
    <a href="/"> HOME </a>
    <a href="/profile"> PROFILE PAGE </a>
    <a href="/parks">NEW TRIP</a>
  </div>
</div>

<h1 class="titles">My Trips:</h1>

<% trips.forEach(function(trip) { %>
  <h2 class="titles">
    <a href="/trips/<%= trip.id %>"><%= trip.destination %></a>
  </h2>
  <div class="well">
    <form method="POST" action="/trips/<%= trip.id %>?_method=DELETE">
      <input class="delete" type="submit" value="DELETE DESTINATION">
    </form>
  </div>
<% }); %>

<p class="goback"><a href="javascript:history.go(-1)" title="Return to previous page">&laquo;GO BACK</a></p>